{% extends 'base.html' %}

{% load static %}

{% block content %}

  <nav
    class="container"
    style="--bs-breadcrumb-divider: '>';"
    aria-label="breadcrumb"
  >
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'sites:dashboard' %}">Sites</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        {{ site.name }}
      </li>
    </ol>
  </nav>

  <main class="container">
    <h1 class="heading-1 mb-0">{{ site.name }}</h1>
    <p class="heading-2 mb-0">{{ site.domain }}</p>

    <section>
      {% if site.verified %}
        <p class="text-success">
          <i class="fa fa-check-circle"></i>
          Verification Status: Verified
        </p>
      {% else %}
        <p class="text-danger">
          <i class="fa fa-times-circle"></i>
          Verification Status: Unverified
        </p>
        <p>
          This site is currently unverified and and so we are unable to run
          benchmarks.
        </p>
        <p>
          In order to verify the site, please ensure that the following TXT record
          is set in your DNS zone:
        </p>
        <pre><code>{{ site.txt_record }}</code></pre>
        <p>For a step-by-step guide, please <a href="#">click here</a>.</p>
        <p>Once added, please press the verify button.</p>
        <input
          type="button"
          value="Verify"
          id="verify-btn"
          class="btn btn--primary"
          data-id="{{ site.id }}"
          data-slug="{{ site.slug }}"
        />
      {% endif %}
    </section>
    <section>
      <h2 class="heading">Benchmarks</h2>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Created On</th>
            <th scope="col">Scheduled For</th>
            <th scope="col">Status</th>
            <th scope="col">Servers</th>
            <th scope="col">Requests per Server</th>
            <th scope="col">Min Time (ms)</th>
            <th scope="col">Mean Time (ms)</th>
            <th scope="col">Max Time (ms)</th>
          </tr>
        </thead>
        <tbody>
          {% for benchmark in site.benchmarks.all %}
            <tr>
              <td>{{ benchmark.created_on }}</td>
              <td>
                {% if benchmark.scheduled_on %}
                  {{ benchmark.scheduled_on }}
                {% else %}
                  -
                {% endif %}
              </td>
              <td>{{ benchmark.progress.get_status_display }}</td>
              <td>{{ benchmark.num_servers }}</td>
              <td>{{ benchmark.num_requests }}</td>
              <td>
                {% if benchmark.min_time %}
                  {{ benchmark.min_time }}
                {% else %}
                  -
                {% endif %}
                </td>
              <td>
                {% if benchmark.mean_time %}
                  {{ benchmark.mean_time }}
                {% else %}
                  -
                {% endif %}
                </td>
              <td>
                {% if benchmark.max_time %}
                  {{ benchmark.max_time }}
                {% else %}
                  -
                {% endif %}
                </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  </main>
{% endblock %}

{% block scripts %}
<script src="{% static 'sites/js/site.min.js' %}"></script>
{% endblock %}