{% extends 'base.html' %}

{% load static %}
{% load site_tags %}

{% block head %}
  <link rel='stylesheet' type="text/css" href="{% static 'sites/css/site.min.css' %}">
{% endblock %}
{% block content %}

  <nav
    class="container mt-5"
    style="--bs-breadcrumb-divider: '>';"
    aria-label="breadcrumb"
  >
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'sites:dashboard' %}">Sites</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        {{ site.name }}
      </li>
    </ol>
  </nav>

  <main class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h1 class="heading-1 mb-0">{{ site.name }}</h1>
      {% if site.verified %}
        {% user_can_benchmark request.user site as can_benchmark %}
        {% if can_benchmark %}
          <a
            class="btn btn--primary header-btn"
            href="{% url 'benchmark:new_benchmark' site.id site.slug %}"
          >
            New Benchmark
          </a>
        {% endif %}
      {% else %}
        <input
          type="button"
          value="Verify Site"
          id="verify-btn"
          class="btn btn--primary header-btn"
          data-id="{{ site.id }}"
          data-slug="{{ site.slug }}"
        />
      {% endif %}
    </div>
    <p class="heading-2 mb-0">{{ site.domain }}</p>

    <section>
      {% if site.verified %}
      <p class="text-success">
          <i class="fa fa-check-circle"></i>
          Verification Status: Verified
        </p>
      {% else %}
        <p class="text-danger">
          <i class="fa fa-times-circle"></i>
          Verification Status: Unverified
        </p>
        <p>
          This site is currently unverified and and so we are unable to run
          benchmarks.
        </p>
        <p>
          In order to verify the site, please ensure that the following TXT record
          is set in your DNS zone:
        </p>
        <pre><code>{{ site.txt_record }}</code></pre>
        <p>For a step-by-step guide, please <a href="#">click here</a>.</p>
        <p>Once added, please press the verify button.</p>
      {% endif %}
    </section>
    <section class="mt-5">
      <h2 class="heading">Benchmarks</h2>
      <table class="table benchmark-table">
        <thead class="thead-dark mt-5">
          <tr>
            <th scope="col">Created On</th>
            <th scope="col">Scheduled For</th>
            <th scope="col">Status</th>
            <th scope="col">Servers</th>
            <th scope="col">Requests per Server</th>
            <th scope="col">Min Time (ms)</th>
            <th scope="col">Mean Time (ms)</th>
            <th scope="col">Max Time (ms)</th>
            <th scope="col">Completed Requests</th>
            <th scope="col">Failed Requests</th>
          </tr>
        </thead>
        <tbody>
          {% for benchmark in site.benchmarks.all %}
            <tr data-benchmark-id="{{ benchmark.id }}">
              <td data-type="created-on">
                {{ benchmark.created_on|date:"d-m-Y H:m" }}
              </td>
              <td data-type="scheduled-on">
                {% if benchmark.scheduled_on %}
                  {{ benchmark.scheduled_on|date:"d-m-Y H:m" }}
                {% else %}
                  -
                {% endif %}
              </td>
              <td data-type="status">
                <div class="benchmark-table__inner-container">

                  {% if not benchmark.completed_on %}
                    <div class="spinner"></div>
                  {% endif %}
                  <span>{{ benchmark.progress.get_status_display }}</span>
                </div>
              </td>
              <td data-type="num-servers">{{ benchmark.num_servers }}</td>
              <td data-type="num-requests">{{ benchmark.num_requests }}</td>
              <td data-type="min-time">
                {% if benchmark.min_time %}
                  {{ benchmark.min_time }}
                {% else %}
                  -
                {% endif %}
                </td>
              <td data-type="mean-time">
                {% if benchmark.mean_time %}
                  {{ benchmark.mean_time }}
                {% else %}
                  -
                {% endif %}
                </td>
              <td data-type="max-time">
                {% if benchmark.max_time %}
                  {{ benchmark.max_time }}
                {% else %}
                  -
                {% endif %}
              </td>
              <td data-type="completed-requests">
                {{ benchmark.completed_requests }}
              </td>
              <td data-type="failed-requests">
                {{ benchmark.failed_requests }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  </main>
{% endblock %}

{% block scripts %}
{{ site.id | json_script:"site-id" }}
<script src="{% static 'sites/js/site.min.js' %}"></script>
{% endblock %}