@import "./accounts";

.register-login {
  p {
    color: #fff;
    margin-bottom: 1rem;
  }

  ul {
    margin-bottom: 2rem;
  }

  li {
    color: #fff;
  }

  label {
    color: #fff;
    margin-bottom: 0.5rem;
  }

  input {
    height: 3rem;
    padding: 2rem;
    border-radius: 5px;
    outline: none;
    border: 1px solid #707b7c;
    margin-bottom: 1.25rem;
  }

  &__container {
    padding: 4rem 6rem 5rem;
  }

  &__form {
    &__btn {
      width: 100%;
    }

    &__btn--50-center {
      display: block;
      width: 50%;
      margin: 2rem auto 0;
    }
  }

  &__container {
    &--wider {
      width: auto !important;
      margin: 0 5rem;
    }
  }
}
