@import "../../../../cloud_swarm/src/sass/abstracts/variables";
@import "../../../../cloud_swarm/src/sass/abstracts/mixins";

.heading {
  text-align: center;
  margin-bottom: 1rem;
}

.error_msg {
  text-align: center;
  color: red;
  font-size: 1.8rem;
}

.form_element {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.label {
  margin-bottom: 0.5rem;
}

.input {
  padding: 1rem;
  outline: none;
  border-radius: 0.5rem;
  border: 1px solid $colour-grey-dark-1;

  &__invalid {
    border-color: red;
  }
}

.btns {
  margin-top: 2rem;
  display: flex;

  @include mediaQuery(600) {
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  }
}

.btn {
  text-align: center;
  width: 25%;

  @include mediaQuery(600) {
    width: 100%;
  }

  &:first-of-type {
    margin-left: auto;
    margin-right: 0.75rem;

    @include mediaQuery(600) {
      margin: 0;
      margin-bottom: 0.5rem;
    }
  }

  &:last-of-type {
    margin-right: auto;
    margin-left: 0.75rem;

    @include mediaQuery(600) {
      margin: 0;
    }
  }
}
