/**Wish list icon component.
Mainly consists of the styling for the outer circle which would change
colour on hover change depending on its active state.
**/

$red-col: #d8102c;

.wish-list {
  cursor: pointer;
  font-size: 3rem;

  &__circle {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    vertical-align: middle;
    z-index: 1;
    border: 2px solid $red-col;
    background-color: #fff;
    transition: all .3s;

    &:hover {
      border-color: rgba(216,16,44,0.8);
    }

  }

  .far:hover {
    color: rgba($red-col, 0.8);
  }

  .fas {
    color: $red-col;
  }
}
