{% extends 'base.html' %}

{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'accounts/css/password_reset.min.css' %}" />
  <title>Set New Password</title>
  <meta name="description" content="Set new password.">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Bluish Pink">
  <meta property="og:title" content="Set new password.">
  <meta property="og:description" content="Set new password.">
  <meta property="og:image" content="https://www.bluishpink.com{{ OG_LOGO }}">
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:site:id" content="{{ SOCIAL.twitter_handle }}">
  <meta property="twitter:title" content="Set new password.">
  <meta property="twitter:description" content="Set new password.">
  <meta property="twitter:image" content="https://www.bluishpink.com{{ OG_LOGO }}">
  <meta property="twitter:image:alt" content="Bluish Pink logo">
{% endblock %}


{% block content %}
<main class="register-login">
  <div class="register-login__container">
    <h1 class="heading-2 register-login__heading">Forgot Your Password?</h1>
    <ul>
      <li>
        Your password can't be too similar to your other personal
        information.
      </li>
      <li>Your password must contain at least 8 characters.</li>
      <li>Your password can’t be a commonly used password.</li>
      <li>
        Your password must contain a mix of numbers, letters and special
        characters.
      </li>
    </ul>
    <form method="POST" class="register-login__form">
      <label for="new_password1" class="register-login__label">
        New Password
      </label>
      <input
        type="password"
        name="new_password1"
        autocomplete="new-password"
        required
        id="id_new_password1"
        aria-autocomplete="list"
        class="register-login__form__input"
        placeholder="New Password"
      >
      <label for="new_password2" class="register-login__label">
        New Password Confirmation
      </label>
      <input
        type="password"
        name="new_password2"
        autocomplete="new-password"
        required
        id="id_new_password2"
        class="register-login__form__input"
        placeholder="New Password Confirmation"
      >
      {% csrf_token %}
      <button type="submit" class="register-login__form__btn btn btn--primary">
        Reset Password
      </button>
    </form>
  </div>
</main>
{% endblock %}

{% block footer %}
{% endblock %}
