{% extends 'base.html' %}

{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'accounts/css/password_reset.min.css' %}" />
  <link rel="canonical" href="{{ ROOT_DOMAIN }}{% url 'password_reset_complete' %}"/>
  <title>Password Reset Complete</title>
  <meta name="description" content="Password Reset Complete.">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Bluish Pink">
  <meta property="og:url" content="{{ ROOT_DOMAIN }}{% url 'password_reset_complete' %}">
  <meta property="og:title" content="Password reset Complete.">
  <meta property="og:description" content="Password Reset Complete.">
  <meta property="og:image" content="{{ ROOT_DOMAIN }}{{ OG_LOGO }}">
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="{{ ROOT_DOMAIN }}{% url 'password_reset_complete' %}">
  <meta property="twitter:site:id" content="{{ SOCIAL.twitter_handle }}">
  <meta property="twitter:title" content="Password reset Complete.">
  <meta property="twitter:description" content="Password Reset Complete.">
  <meta property="twitter:image" content="{{ ROOT_DOMAIN }}{{ OG_LOGO }}">
  <meta property="twitter:image:alt" content="Bluish Pink logo">
{% endblock %}


{% block content %}
<main class="register-login">
  <div class="register-login__container register-login__container--wider">
    <h1 class="heading-2 register-login__heading">Password Reset Complete</h1>
    <p class="u-center-text">
      You're password has been reset. You may go ahead and login now.
    </p>
    <a
      href="{% url 'login' %}"
      class="btn btn--secondary register-login__form__btn register-login__form__btn--50-center"
      title="Login"
    >
      Login
    </a>
  </div>
</main>
{% endblock %}

{% block footer %}
{% endblock %}
