{% extends 'base.html' %}

{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'accounts/css/password_reset.min.css' %}" />
  <link rel="canonical" href="https://www.bluishpink.com{% url 'password_reset_done' %}"/>
  <title>Password Reset Sent</title>
  <meta name="description" content="Password Reset Sent.">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Bluish Pink">
  <meta property="og:url" content="https://www.bluishpink.com{% url 'password_reset_done' %}">
  <meta property="og:title" content="Password reset sent.">
  <meta property="og:description" content="Password Reset Sent.">
  <meta property="og:image" content="https://www.bluishpink.com{{ OG_LOGO }}">
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://www.bluishpink.com{% url 'password_reset_done' %}">
  <meta property="twitter:site:id" content="{{ SOCIAL.twitter_handle }}">
  <meta property="twitter:title" content="Password reset sent.">
  <meta property="twitter:description" content="Password Reset Sent.">
  <meta property="twitter:image" content="https://www.bluishpink.com{{ OG_LOGO }}">
  <meta property="twitter:image:alt" content="Bluish Pink logo">
{% endblock %}


{% block content %}
<main class="register-login">
  <div class="register-login__container register-login__container--wider">
    <h1 class="heading-2 register-login__heading">Password Reset Sent</h1>
    <p class="u-center-text">
      We’ve emailed you instructions for setting your password, if an account
      exists with the email you entered. You should receive them shortly.
    </p>
    <p class="u-center-text">
      If you don’t receive an email, please make sure you’ve entered the
      address you registered with, and check your spam folder.
    </p>
  </div>
</main>
{% endblock %}

{% block footer %}
{% endblock %}
